* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #c4fdd7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 204, 133);
    color: #f3fff7;
    padding: 8px 0;
}

header h1{
    margin-left: 20px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: #f3fff7;
    margin-right: 16px;
}

.container{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about img{
    max-width: 100%;
    width: 350px;
    margin-right: 8px;
}

.lista-produtos img {
    max-width: 100%;
    width: 300px;
}

.lista-produtos ul{
    display: grid;
    grid-template-columns: repeat(4, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
    width: 600px;
    list-style: none;
    margin-bottom: 20px;
}

footer{
    margin-top: 40px;
    background-color: rgb(18, 204, 133);
    color: #f3fff7;
    padding: 8px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .about .container {
        width: 600px;
        margin: auto 16px;
    }

    .lista-produtos ul{
        grid-template-columns: repeat(2, 50%);
        width: 500px;
        column-gap: 5%;
    }
}

@media screen and (max-width: 767px) {
    header h1{
        font-size: 26px;
    }

    header nav a{
        font-size: 14px;
    }

    .container{
        max-width: 100%;
    }
    
    .about .container {
        display: block;
        margin-bottom: 10px;
    }

    header div.container{
        flex-direction: column;
    }

    .lista-produtos ul{
        grid-template-columns: repeat(2, 40.5%);
        width: 400px;
        column-gap: 2%;
    }
    }